<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ClienteMapper">

    <resultMap id="clienteRM" type="com.example.demo.model.Cliente">
        <id column="cliente_id"  property="id"/>
        <result column="nome" property="nome"/>
        <result column="email" property="email"/>
        <result column="telefone" property="telefone"/>

    </resultMap>

    <insert id="salvar" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into cliente (nome, email, telefone) values (#{nome}, #{email}, #{telefone})

    </insert>

    <select id="findAll" resultMap="clienteRM">

       select id as cliente_id, nome, email, telefone from cliente;

    </select>


</mapper>